@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$wightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(215, 11%, 35%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

// Mobile 
@media screen and (max-width: 400px){
    html {
        .container{
            width: 90%;
            .first{
                width: auto;
            }
        }
    }
}