*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "_configNMobile.scss";
html{
    font-size: 15px;
    background: $veryDarkBlue;
    color: $white;
    font-family: 'Overpass', sans-serif;
}
.container{
    width: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    border-radius: 20px;
    background-color: $darkBlue;
    .first{   
        width: 400px;
        .icon{
            height: 30px;
            width: 30px;
            background-color: $mediumGrey;
            border: 1px solid $mediumGrey;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-block: 20px;
        }
        p{
            margin-top: 10px;
            color: $wightGrey;
        }
        ul{
            margin-top: 20px;
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            li{
                height: 30px;
                width: 30px;
                border: 0px solid orange;
                button{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 0px solid transparent;
                    background-color: $mediumGrey;
                    color: $white;
                }
                .selected{
                    background-color: $orange;
                }
                .hover:hover{
                    background-color: $wightGrey;
                }
            }

        }
        button[type="submit"]{
            width: 100%;
            margin-top: 20px;
            height: 30px;
            background-color:$orange;
            color: $white;
            font-weight: 500;
            border-radius: 40px;
            font-weight: 700;
            border: none;
        }
        button[type="submit"]:active{
            background: $white;
            color: $orange;
        }
    }
    .second{
        text-align: center;
        display: none;
        gap: 10px;
        .icon2{
            transform: scale(75%);
        }
        p:nth-of-type(1){
            background-color: hsl(213, 20%, 24%);
            width: max-content; 
            margin: 0 auto;
            padding: 5px 10px;
            border-radius: 30px;  
            font-size: 0.9rem;
            color: $orange;
            margin-bottom: 10px;

        }
        p:nth-of-type(2){
            font-size: 1.7rem;
            font-weight: 700;

        }
        p:nth-of-type(3){
            color: $wightGrey;
        }
    }
    
}
.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
    position: absolute; 
    bottom: 5px; 
}
.attribution a { color: $orange; text-decoration: none;}
